@media (max-width: 768px) {
    .humburger{
        display: block;
    }

    nav{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #444;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease; 
    }

    nav ul{
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    nav.active{
        max-height: 300px;
    }
}